.version.index /* version checker */
{
	color: #0000E6;
	background-color: #6FA3B0;
}

#page
{
	width: 100%;
	margin: 0 auto;
}

.header
{
	z-index: 100;
	width: 70%;
	padding: 30px 15%;
	position: fixed;
	top: 0;
	color: #fff;
	font-size: 1em;
}

.header--name
{
	font-size: 1.2em;
	float: left;
}
.header--phone
{
	float: left;
	line-height: 22px;
    margin-left: 5%;
}
.footer
{
	width: 100%;
	padding: 30px 15% 5px;
	background: #3b3b3b;
	color: #fff;
	font-size: 0.8em;
	line-height: 1em;
}
.footer .footer--info
{
	float: left;
	margin: 0;
	width: 25%;
}
.footer .footer--info .info--phone
{
	font-size: 1.3em;
}
.footer .footer--link
{
	float: right;
	margin: 0;
	font-size: 1.3em;
	text-align: right;
	width: 40%;
}
.footer .footer--link a
{
	color: #fff;
	margin: 0 3%;
}
.footer .footer--link a:hover
{
	text-decoration: none;
}
.footer .footer--link a:last-of-type
{
	margin: 0 0 0 3%;
}
.order--form {
	display: none;
}

@media screen and (max-width: 1399px)
{

}

@media screen and (max-width: 1070px)
{
	.footer
	{
		padding: 20px 5%;
	}
}

@media screen and (max-width: 940px)
{
	.header
	{
		padding: 2% 5%;
	}
}

@media screen and (max-width: 670px)
{
	.footer .footer--link
	{
		line-height: 1.2em;
	}
}

@media screen and (max-width: 570px)
{
	.footer .footer--info
	{
		width: 40%;
	}
	.footer .footer--link
	{
		width: 25%;
	}
}

@media screen and (max-width: 540px)
{
	.footer .footer--info .info--phone
	{
		display: block;
		line-height: 1.4em;
	}
}

@media screen and (max-width: 430px)
{
	.footer .footer--info .info--phone
	{
		line-height: 1.2em;
	}
}

@media screen and (max-width: 399px)
{

}